.header-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
}

.header-parent h1 {
  font-size: 54px;
}

.hidden-header {
  visibility: hidden;
}
